{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block banner %}
  <div class='col-md-auto container d-block pb-4 banner' style='text-align:center;'>
    <div class='bgred'>
      <h1>{{ page.banner_title }}</h1>
    </div>
    <div class="row">
      <div class='col-sm'>
        <h2>Our Mission</h2>
        <p class="text-center">{{ page.mission_statement }}</p>
      </div>
      <div class='col-sm'>
        <h2>We Believe</h2>
        <p class="text-center">{{ page.values_statement }}</p>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
    <div class="p-3 mb-3 bg-white rounded">

        <h2 class="my-4">Weekly Digest:</h2>
        <h1>{{ update.title }}</h1>
        <h3>Posted: {{ update.date|date:"M j, Y" }}</h3>
        <p style="font-family: 'Manifold DSA'">{{ update.body|richtext }}</p>

        <h1>Upcoming Events:</h1>
        <ul>
          {% for event in events %}
            <li><b><a href='{{ event.url }}'>{{ event.title }}</a></b> | {{ event.start|date:"D, M j" }}</li>
          {% endfor %}
        </ul> 
      </div>
    </div>
    <div class="col-sm-4 my-3">
      <h2>{{ page.highlighted_campaign }}</h2>
      <p>{{ page.highlighted_description }}</p>
      <h2>Chapter Priorities</h2>
      <p>Our chapter establishes our priority campaigns at our annual convention.</p>
      <div class="container p-3" >
        <ul>
          <li><a href="/formations/welcome">Strengthening STL DSA's Membership Base</a></li>
          <li><a href="/formations/sns">Continuing socialist education with the Socialist Night School</a></li>
          <li><a href="/formations/publicownership">Emphasizing our commitment to Protect Public Ownership</a></li>
          <li><a href="/formations/no-on-3">Committing to defeat Amendment 3 on the November ballot</a></li>
        </ul>
      </div>
      <p class=>If you're new to DSA, please sign up to help in one or more using the form below.</p><br>
      <link href='https://actionnetwork.org/css/style-embed-whitelabel.css' rel='stylesheet' type='text/css' />
      <script src='https://actionnetwork.org/widgets/v3/form/stldsa?format=js&source=widget'></script>
      <div id='can-form-area-stldsa' style='width: 75%; margin: auto'><!-- this div is the target for our HTML insertion --></div>
    </div>

  </div>
<!-- /.row -->
{% endblock %}