{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block title %}Hi, {{ object.first_name }}!{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>Hi, {{ object.first_name }}!</h2>
      <h3>Membership Status: </h3> {{ object.membership_status }}
      <!-- <h3>Your Formations:</h3>
      {% for committee in object.person.committee_leader.all %}
        <li><a href="{{ committee.get_url }}">{{ committee.name }}</a></li>
      {% empty %}
        You are not currently signed up for any formations.
      {% endfor %} -->
      <br><br>
      <p>You may edit your information using the buttons below.</p>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

