{% extends "base.html" %}

{% block content %}
    <h2>Formations</h2>
    <ul>
        {% for committee in committees %}
            <li><a href="{{ committee.slug }}">{{ committee }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}